<nav class="navbar navbar-expand-lg navbar-light shadow-sm bg-white fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" href="{{ path('app_home') }}">
            LinkedIn'frep
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                <li class="nav-item">
                    {% if app.request.uri == url('app_user_list') %}
                    <a class="nav-link active" aria-current="page" href="{{ path('app_user_list') }}">Utilisateurs</a>
                    {% else %}
                    <a class="nav-link" aria-current="page" href="{{ path('app_user_list') }}">Utilisateurs</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if app.request.uri == url('app_groupe') %}
                        <a class="nav-link active" aria-current="page" href="{{ path('app_groupe') }}">Groupe</a>
                    {% else %}
                        <a class="nav-link" aria-current="page" href="{{ path('app_groupe') }}">Groupe</a>
                    {% endif %}
                </li>
            </ul>
        </div>


        {% if app.user %}

            <div class="dropdown">

                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ app.user.username }}
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{{ path('app_current_user_profile') }}">Mon profil</a></li>
                    <li><a class="dropdown-item" href="#">Réglages</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item link-danger" href="{{ path('app_logout') }}">Déconnexion</a></li>
                </ul>
            </div>

        {% else %}
            <a href="{{ path('app_login') }}">
                Connexion
            </a>
        {% endif %}
    </div>
</nav>
