<div id="tweet-{{ tweet.id }}" class="tweet card mb-3">

    <div class="card-header d-flex justify-content-between">

        <div class="d-flex">
            <a href="{{ path('app_tweet_single', { id: tweet.id }) }}" class="link-dark pr-2">
                <strong>#{{ tweet.id }}</strong>
            </a>

            <div class="author">
                <a href="{{ path('app_user_profile', { id: tweet.author.id }) }}">
                    {{ tweet.author.username }}
                </a>
            </div>
        </div>

        <div class="tweet_date">
            Le {{ tweet.createdAt | format_datetime("long", locale="fr") }}
        </div>

    </div>

    <div class="card-body">

        <p class="card-text">
            {{ tweet.message }}
        </p>

    </div>

    <div class="card-footer position-relative">
        <a href="{{ path('app_tweet_single', { id: tweet.id }) }}" class="link-dark">
            <img src="{{ asset('img/chat-left-text.svg') }}" alt="">

            {{ tweet.nbComments }}
        </a>


        {% if app.user and app.user.doesLike(tweet) %}
            <a href="{{ path('app_tweet_like', { id: tweet.id }) }}" class="link-dark link-like link-liked">
                <img src="{{ asset('img/heart-fill.svg') }}" alt="">
            </a>
        {% else %}
            <a href="{{ path('app_tweet_like', { id: tweet.id }) }}" class="link-dark link-like">
                <img src="{{ asset('img/heart-empty.svg') }}" alt="">
            </a>
        {% endif %}

        {# TODO: optmize these queries with a single Join Query (in repository) #}
        <span>
            {{ tweet.likers | length }}
            </span>


        <div class="test">
            <div class="spinner-border position-absolute top-0 bottom-0 start-0 end-0 m-auto d-none" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</div>