{% extends "_layouts/default.html.twig" %}

{% block header %}
    <header class="bg-light p-5">
        <div class="container">
            <h1 class="h1"> Groupe de discussion </h1>
            <div class="right" role="group" aria-label="Basic example">
                <a class="nav-link active" aria-current="page" href="{{ path('app_createGroup') }}">
                    <button type="button" class="rightBtn">+</button>
                </a>
            </div>
            <hr>
            <p class="lead">
                Invite tous tes potes !!!!
            </p>
        </div>
    </header>
{% endblock %}

{% block main %}
    <ul class="list-group">

        {# {% for user in users %} #}

        <li class="list-group-item">
            <div class="user">
                <p>Author : Evan</p>
                <p>Date de création : 01/01/2000</p>
                <h2>The Groupe</h2>
            </div>
        </li>
        {# {% endfor %} #}
    </ul>
{% endblock %}
